.card{
    padding:0;
    
  }
  .card-wrapper{
    width: 80%;
    grid-gap: 5%;
  }


  #floating-icon > button {
    position: fixed;
    right: 0;
    top: 50%;
    transform: rotate(-90deg) translate(50%, -50%);
    transform-origin: right;
  }
  
  .rating-input-wrapper input[type="radio"] {
    display: none;
  }
  .rating-input-wrapper input[type="radio"] ~ span {
    cursor: pointer;
  }
  .rating-input-wrapper input[type="radio"]:checked ~ span {
    background-color: #4261dc;
    color: #fff;
  }
  .rating-labels > label{
    font-size: 14px;
      color: #777;
  }

  ::ng-deep .mdc-text-field--filled:not(.mdc-text-field--disabled){
    background-color: transparent !important;
    border-radius: 0 !important;
    border: 1px solid #fff !important;
  }
  
  .mat-input,
  mat-label{
    color: #808B8D !important;
  }

  ::ng-deep .mat-datepicker-toggle-default-icon{
    color: #808B8D;
  }

::ng-deep .mdc-floating-label--required:not(.mdc-floating-label--hide-required-marker)::after {
  content: "";
}

.testimonial-item{
  width: 300px;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}


.card-wrapper {
  display: flex;
  justify-content: center;
}