<!-- Topbar Start -->
<div class="container-fluid bg-dark px-5 d-none d-lg-block">
    <div class="row gx-0">
        <div class="col-lg-8 text-center text-lg-start mb-2 mb-lg-0">
            <div class="d-inline-flex align-items-center" style="height: 45px;">
                <small class="me-3 text-light"><i class="fa fa-map-marker-alt me-2"></i>Behind Cola Panchayat, Cola
                    Goa</small>
                <small class="me-3 text-light"><i class="fa fa-phone-alt me-2"></i>+91 1234567890</small>
            </div>
        </div>
        <div class="col-lg-4 text-center text-lg-end">
            <div class="d-inline-flex align-items-center" style="height: 45px;">
                <!-- <a class="btn btn-sm btn-outline-light btn-sm-square rounded-circle me-2" href=""><i
                        class="fab fa-facebook-f fw-normal"></i></a>
                <a class="btn btn-sm btn-outline-light btn-sm-square rounded-circle me-2" href=""><i
                        class="fab fa-instagram fw-normal"></i></a> -->
                <a class="btn btn-sm btn-outline-light btn-sm-square rounded-circle" target="_blank" href="https://www.youtube.com/watch?v=GWqWxiLOH-M"><i
                        class="fab fa-youtube fw-normal"></i></a>
            </div>
        </div>
    </div>
</div>
<!-- Topbar End -->


<!-- Navbar & Hero Start -->
<div class="container-fluid position-relative p-0">
    <nav class="navbar navbar-expand-lg navbar-light px-4 px-lg-5 py-3 py-lg-0">
        <a href="" class="navbar-brand p-0 d-flex align-items-center">
            <img class="logo me-2" src="../../../assets/img/logo2.png" alt="Logo">
            <h1 class="text-primary m-0">KYK</h1>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="fa fa-bars"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav ms-auto py-0">
                <a href="#about" class="nav-item nav-link">About</a>
                <a href="#services" class="nav-item nav-link">Services</a>
                <a href="#photos" class="nav-item nav-link">Photos</a>
                <a href="#reviews" class="nav-item nav-link">Reviews</a>
                <a href="#contact" class="nav-item nav-link">Contact</a>
            </div>
            <a href="#booking" class="btn btn-primary rounded-pill py-2 px-4">Booking</a>
        </div>
    </nav>

    <div class="container-fluid bg-primary py-5 mb-5 hero-header">
        <div class="container py-5">
            <div class="row justify-content-center py-5">
                <div class="col-lg-10 pt-lg-5 mt-lg-5 text-center">
                    <h1 class="display-3 text-white mb-3 animated slideInDown">Enjoy Your Kayaking experience With Us
                    </h1>
                    <p class="fs-4 text-white mb-4 animated slideInDown">Discover breathtaking waterscapes, feel the
                        thrill of adventure, and create unforgettable memories. Start your journey with us today!</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Navbar & Hero End -->


<!-- About Start -->
<div id="about" class="container-xxl py-5">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s" style="min-height: 400px;">
                <div class="position-relative h-100">
                    <img class="img-fluid position-absolute w-100 h-100" src="assets/img/couple-kayaking-in-river-at-sunset-BLEF05269.jpg" alt=""
                        style="object-fit: cover;">
                </div>
            </div>
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.3s">
                <h6 class="section-title bg-white text-start text-primary pe-3">About Us</h6>
                <h1 class="mb-4">Welcome to <span class="text-primary">Paddle Adventures</span></h1>
                <p class="mb-4">At Paddle Adventures, we’re passionate about delivering unforgettable kayaking
                    experiences. Whether you’re looking for a serene paddle through tranquil waters or an exciting
                    adventure through challenging rapids, we’ve got you covered.</p>
                <p class="mb-4">Our mission is to connect you with the beauty of nature while ensuring a fun, safe, and
                    memorable journey. We offer expert guidance, top-quality equipment, and a range of kayaking options
                    to suit every skill level and preference.</p>
                <div class="row gy-2 gx-4 mb-4">
                    <div class="col-sm-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Experienced Guides</p>
                    </div>
                    <div class="col-sm-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Premium Kayaks</p>
                    </div>
                    <div class="col-sm-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Scenic Routes</p>
                    </div>
                    <div class="col-sm-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Flexible Booking</p>
                    </div>
                    <div class="col-sm-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>All Skill Levels Welcome</p>
                    </div>
                    <div class="col-sm-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>24/7 Support</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About End -->


<!-- Service Start -->
<div id="services" class="container-xxl py-5">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h6 class="section-title bg-white text-center text-primary px-3">Services</h6>
            <h1 class="mb-5">Our Services</h1>
        </div>
        <div class="row g-4">
            <div class="col-lg-4 col-sm-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="service-item rounded pt-3">
                    <div class="p-4"> <i class="fa fa-3x fa-water text-primary mb-4"></i>
                        <h5>Guided Kayak Tours</h5>
                        <p>Explore scenic waterways with our expert guides. Perfect for all skill levels, our tours
                            offer a safe and enriching experience as you paddle through breathtaking landscapes.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 wow fadeInUp" data-wow-delay="0.3s">
                <div class="service-item rounded pt-3">
                    <div class="p-4"> <i class="fa fa-3x fa-life-ring text-primary mb-4"></i>
                        <h5>Equipment Rental</h5>
                        <p>Rent high-quality kayaks, paddles, and safety gear for your adventure. We offer a range of
                            equipment to suit different needs and ensure a comfortable and enjoyable experience.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="service-item rounded pt-3">
                    <div class="p-4"> <i class="fa fa-3x fa-calendar text-primary mb-4"></i>
                        <h5>Custom Kayaking Events</h5>
                        <p>Host your own kayaking event with us! Whether it’s a team-building exercise, a family outing,
                            or a special celebration, we provide tailored experiences to make your event unforgettable.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Service End -->


<!-- Destination Start -->
<div id="photos" class="container-xxl py-5 destination">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h6 class="section-title bg-white text-center text-primary px-3">Gallery</h6>
            <h1 class="mb-5">Navigate Nature’s Beauty</h1>
        </div>
        <div class="row g-3">
            <div class="col-lg-7 col-md-6">
                <div class="row g-3">
                    <div class="col-lg-12 col-md-12 wow zoomIn" data-wow-delay="0.1s">
                        <a class="position-relative d-block overflow-hidden" href="">
                            <img class="img-fluid" src="assets/img/maxresdefault (1).jpg" alt="">
                        </a>
                    </div>
                    <div class="col-lg-6 col-md-12 wow zoomIn" data-wow-delay="0.3s">
                        <a class="position-relative d-block overflow-hidden" href="">
                            <img class="img-fluid" src="assets/img/IMG20211204091509.jpg" alt="">
                        </a>
                    </div>
                    <div class="col-lg-6 col-md-12 wow zoomIn" data-wow-delay="0.5s">
                        <a class="position-relative d-block overflow-hidden" href="">
                            <img class="img-fluid" src="assets/img/IMG20211204095044.jpg" alt="">
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 col-md-6 wow zoomIn" data-wow-delay="0.7s" style="min-height: 350px;">
                <a class="position-relative d-block h-100 overflow-hidden" href="">
                    <img class="img-fluid position-absolute w-100 h-100" src="assets/img/IMG20211204094455.jpg" alt=""
                        style="object-fit: cover;">
                </a>
            </div>
        </div>
    </div>
</div>
<!-- Destination Start -->

<!-- Booking Start -->
<div id="booking" class="container-xxl py-5 wow fadeInUp" data-wow-delay="0.1s">
    <div class="container">
        <div class="booking p-5">
            <div class="row g-5 align-items-center">
                <div class="col-md-6 text-white">
                    <h6 class="text-white text-uppercase">Booking</h6>
                    <h1 class="text-white mb-4">Easy Online Booking</h1>
                    <p class="mb-4">Planning your next kayaking adventure has never been easier. With our streamlined
                        online booking system, you can quickly secure your spot and get ready for an unforgettable
                        experience on the water.</p>
                    <p class="mb-4">Simply fill out the form to choose your destination, select a date and time, and let
                        us know any special requests. Our team will handle the rest, ensuring a smooth and enjoyable
                        kayaking adventure tailored just for you.</p>
                </div>
                <div class="col-md-6">
                    <h1 class="text-white mb-4">Book Your Kayaking Adventure</h1>
                    <form [formGroup]="bookingForm" (ngSubmit)="onBooking()">
                        <div class="row g-3">
                            <div class="col-md-6">
                                <div class="form-floating">
                                    <input type="text" class="form-control bg-transparent" id="name"
                                        formControlName="name" placeholder="Your Name">
                                    <label for="name">Your Name</label>
                                    <div *ngIf="submitted && bookingForm.get('name')?.invalid" class="text-danger">
                                        Name is required.
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating">
                                    <input type="tel" class="form-control bg-transparent" id="phone"
                                        formControlName="phone" placeholder="Your Phone Number" />
                                    <label for="phone">Phone Number</label>
                                    <div *ngIf="submitted && bookingForm.get('phone')?.invalid" class="text-danger">
                                        Valid phone number is required.
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-floating">
                                    <mat-form-field appearance="fill" class="w-100">
                                        <mat-label>Select Date</mat-label>
                                        <input matInput [matDatepicker]="picker" formControlName="date"
                                            placeholder="Choose a date"
                                            [value]="bookingForm.get('date')?.value"
                                            class="form-control bg-transparent mat-input"
                                            (dateChange)="onDateChange($event)" />
                                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                        <mat-datepicker #picker></mat-datepicker>
                                    </mat-form-field>
                                    <div *ngIf="submitted && bookingForm.get('date')?.invalid" class="text-danger">
                                        Date is required.
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating">
                                    <select class="form-select bg-transparent" id="select1" formControlName="time">
                                        <option value="" disabled selected>Select a time slot</option>
                                        <option value="8am - 9am">8am - 9am</option>
                                        <option value="9am - 10am">9am - 10am</option>
                                        <option value="10am - 11am">10am - 11am</option>
                                        <option value="11am - 12pm">11am - 12pm</option>
                                        <option value="12pm - 1pm">12pm - 1pm</option>
                                        <option value="1pm - 2pm">1pm - 2pm</option>
                                        <option value="2pm - 3pm">2pm - 3pm</option>
                                        <option value="3pm - 4pm">3pm - 4pm</option>
                                        <option value="4pm - 5pm">4pm - 5pm</option>
                                        <option value="5pm - 6pm">5pm - 6pm</option>
                                        <option value="6pm - 7pm">6pm - 7pm</option>
                                    </select>
                                    <label for="select1">Time</label>
                                    <div *ngIf="submitted && bookingForm.get('time')?.invalid" class="text-danger">
                                        Time is required.
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-floating">
                                    <textarea class="form-control bg-transparent" placeholder="Special Request"
                                        id="message" formControlName="message" style="height: 100px"></textarea>
                                    <label for="message">Message</label>
                                    <div *ngIf="submitted && bookingForm.get('message')?.invalid" class="text-danger">
                                        Message is required.
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <button class="btn btn-outline-light w-100 py-3" type="submit">Book Now</button>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- Booking Start -->
<!-- reviews.component.html -->
<div id="reviews" class="py-5 wow fadeInUp mx-5" data-wow-delay="0.1s">
    <div class="container text-center">
        <div class="text-center">
            <h6 class="section-title bg-white text-center text-primary px-3">What Our Clients Are Saying</h6>
            <h1 class="mb-3">Hear from Our Happy Paddlers!</h1>
        </div>
        <button type="button" class="btn btn-primary mb-4" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Leave Your Feedback
        </button>
    </div>
    <div id="carouselExampleControls" class="carousel carousel-dark slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item" *ngFor="let chunk of getChunkedReviews(); let i = index" [ngClass]="{'active': i === 0}">
                <div class="row justify-content-center">
                    <div *ngFor="let review of chunk" class="col-12 col-md-6 col-lg-3 mb-4 d-flex justify-content-center">
                        <div class="testimonial-item bg-white text-center border p-4">
                            <h5 class="mb-0">{{ review.name }}</h5>
                            <p>Rating: {{ review.rating }} Stars</p>
                            <p class="mb-0">{{ review.review | truncate:175}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    
</div>

<!-- Testimonial End -->

<!-- Footer Start -->
<div id="contact" class="container-fluid bg-dark text-light footer pt-5 mt-5 wow fadeIn" data-wow-delay="0.1s">
    <div class="container py-5">
        <div class="row g-5 w-100 d-flex justify-content-center">
            <div class="col-lg-6 col-md-8 text-center mt-3">
                <h4 class="text-white mb-3">Contact</h4>
                <p class="mb-2"><i class="fa fa-map-marker-alt me-3"></i>Behind Cola Panchayat, Cola Goa, 403702</p>
                <p class="mb-2"><i class="fa fa-phone-alt me-3"></i>+91 1234569874</p>
                <p class="mb-2"><i class="fa fa-envelope me-3"></i>projectK&#64;gmail.com</p>
                <div class="d-flex pt-2 justify-content-center">
                    <a class="btn btn-outline-light btn-social me-3" href=""><i class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-outline-light btn-social me-3" href=""><i class="fab fa-youtube"></i></a>
                    <a class="btn btn-outline-light btn-social me-3" href=""><i class="fab fa-instagram"></i></a>
                </div>
            </div>
            <a  class="col-lg-4 col-md-6 text-center mt-3 cursor-pointer" target="_blank"
            href="https://www.google.co.in/maps/@15.0639118,73.9742305,14z?entry=ttu&g_ep=EgoyMDI0MDkyNS4wIKXMDSoASAFQAw%3D%3D">
                <img style="height: 100%;width: 100%;" src="../../../assets/img/Screenshot 2024-09-29 000944.png" alt="">
            </a>
        </div>
    </div>
</div>
<!-- Footer End -->


<!-- Back to Top -->
<a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>


<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">We Value Your Feedback</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form [formGroup]="reviewForm" (ngSubmit)="onAddReviews()">
                    <div class="form-group mb-3">
                        <label for="input-one">What's your name?</label>
                        <input type="text" class="form-control" id="input-one" formControlName="name"
                            placeholder="Enter your name" />
                    </div>
                    <label for="exampleFormControlTextarea1" class="mt-2 mb-1">
                        How likely are you to recommend us to your friends?
                    </label>
                    <div class="rating-input-wrapper d-flex justify-content-start mt-2">
                        <label>
                            <input type="radio" [value]="1" formControlName="rating" />
                            <span class="border rounded px-3 py-2">1</span>
                        </label>
                        <label>
                            <input type="radio" [value]="2" formControlName="rating" />
                            <span class="border rounded px-3 py-2">2</span>
                        </label>
                        <label>
                            <input type="radio" [value]="3" formControlName="rating" />
                            <span class="border rounded px-3 py-2">3</span>
                        </label>
                        <label>
                            <input type="radio" [value]="4" formControlName="rating" />
                            <span class="border rounded px-3 py-2">4</span>
                        </label>
                        <label>
                            <input type="radio" [value]="5" formControlName="rating" />
                            <span class="border rounded px-3 py-2">5</span>
                        </label>
                    </div>
                    <div class="form-group mt-4 mb-3">
                        <label for="input-two">Tell us about your experience</label>
                        <textarea class="form-control" id="input-two" rows="3" formControlName="review"
                            placeholder="We'd love to hear your thoughts..."></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary" (click)="onAddReviews()"
                    [disabled]="reviewForm.invalid">Submit Feedback</button>
            </div>
        </div>
    </div>
</div>